<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <title>Rushmore</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right"><img src="/assets/wolfhat.png" width="300" height="300">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <% if !logged_in? %>
          <li><%= link_to 'Home', welcome_index_path %></li>
        <% else %>
          <li><%= link_to 'Home', students_path %></li>
          <li><%= link_to "Log out", session_path(current_teacher.id), method: :delete %></li>
          <li><%= link_to current_teacher.email, teacher_path(current_teacher.id) %></li>
          <li class ="center">RUSHMORE DRAFT</li>
    <% end %>
      </ul>
    </div>
  </nav>


  <body class="body">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>

    <%= yield %>
  </body>
</html>
