<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <title>Rushmore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <% if !logged_in? %>
      <%= link_to 'Home', welcome_index_path %>
    <% else %>
      <%= link_to 'Home', students_path %>
      <%= link_to "Log out", session_path(current_teacher.id), method: :delete %>
      <%= link_to current_teacher.email, teacher_path(current_teacher.id) %>
    <% end %>

  <body class="body">
    <%= yield %>
  </body>
</html>
